@page
@model PT_RazorPage.Pages.NotificationView.IndexModel

@{
    ViewData["Title"] = "Notification Table";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notification[0].NotiContext)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notification[0].NotiType)
            </th>
            <th>
                Customer Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Notification) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotiContext)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotiType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cus.CusName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NotiId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NotiId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NotiId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
